{% extends "basetemplate.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block appcontent %}
<h1>Create Project</h1>
<div class="row">
    <div class="col-md-4">
        <form class="form form-vertical" method="post" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.name, class='form-control', placeholder='Name')}}
			<br>
			{{ wtf.form_field(form.prefix, class='form-control', placeholder='Prefix')}}
			{{ wtf.form_field(form.description, class='form-control', placeholder='Description')}}
            <br>
            {{ wtf.form_field(form.submit, class='btn btn-success') }}
        </form>
    </div>
</div>
{% endblock %}
