{% extends "basetemplate.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block appcontent %}
<h1>Update Tracker {{ tracker.prefix }}-{{ '%04d' % tracker.number }}</h1>
<div class="row">
    <div class="col-md-4">
        <form class="form form-vertical" method="post" role="form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.title, class='form-control', placeholder='Title')}}
			<br>
			{{ wtf.form_field(form.description, class='form-control', placeholder='Description')}}
			{{ wtf.form_field(form.status, class='form-control', placeholder='Status')}}
			{{ wtf.form_field(form.priority, class='form-control', placeholder='Priority')}}
			{{ wtf.form_field(form.categories, class='form-control', placeholder='Categories')}}
			{{ wtf.form_field(form.project, class='form-control', placeholder='Project')}}
            {{ wtf.form_field(form.user_assigned, class='form-control', placeholder='Assigned to')}}
			{{ wtf.form_field(form.images, class='form-control', placeholder='Image')}}
            <br>
            {{ wtf.form_field(form.submit, class='btn btn-success') }}
        </form>
    </div>
</div>
{% endblock %}
