{% extends "basetemplate.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block appcontent %}

<div class="container">
    <h1>{{ tracker.title }}</h1>
    <div class="row">
        <div class="col-md-4 order-md-1">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0">Description</h6>
                    <small class="text-muted">{{ tracker.description }}</small>
                </li>
                <br>
                <li class="list-group-item d-flex justify-content-between lh-condensed">

                    <form action="{{ url_for('trackerapp.tracker_info', id=tracker.id) }}" method=post class=del-component>
                        <button class="btn btn-success">
                        UPDATE INFO
                        </button>
                    </form>
                    <br>
                </li>
            </ul>
        </div>
      <div class="col-md-4 order-md-2">
          <img src="{{ tracker.image }}"/>
      </div>
    </div>
</div>


{% endblock %}